#main-header {
    text-align: center;
    text-decoration: underline;
    color: rgb(84, 10, 10);
    background-color: #ada3c7;
    padding: 10px 0;
    margin: auto;
    border: 5px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    background-image: url(https://images.hdqwalls.com/wallpapers/dark-red-gradient-4k-hq.jpg);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20;
    margin: auto;

}


.lower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20;
    margin: auto;
}


#pantry-items {
    background-color: #b2ea80;
    text-align: center;
    width: 860px;
    border: 3px solid;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;

}

#freezer-items {
    background-color: #b2ea80;
    text-align: center;
    width: 860px;
    border: 3px solid;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;

}


#canned {
    padding: 10;
    margin: 25px;
}

#canned-items {
    padding: 10;
    margin: 25px;
}

#dry-goods {
    padding: 10;
    margin: 25px;
}

#dry-goods-items {
    padding: 10;
    margin: 25px;
}

#veggies {
    padding: 10;
    margin: 25px;
}

#veggie-items {
    padding: 10;
    margin: 25px;
}

#snacks {
    padding: 10;
    margin: 25px;
}

#snack-items {
    padding: 20;
    margin: 25px;

}

#image {
    Padding: 10px,10px,10px,10px;
}